:root {
    --bg-body: #000;
    --color-text: #fff;
}



* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    
    /* border: 1px solid black;  */
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: var(--bg-body);
    color: var(--color-text);
}

/*HEADER CSS */

.header {
    background-color: #3ab54a;
    padding: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#izquierdaHeader {
    display: flex;
    align-items: center;
    margin-left: 2pc;
}

.imgHeader{
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.imgHeader img {
    width: 100%;
    height: 100%;
}

#izquierdaHeader h4 {
    /* color: var(--secondary-color); */
    font-weight: 200;
}

#mode {
    border: none;
    margin-right: 2pc;
    background-color: #3ab54a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 200;
    /* color: var(--secondary-color); */
    cursor: pointer;
}

/*CSS PRIMER MENSAJE */
.message {
    height: 90vh;
    width: 100%;
}

.message h1 {
    margin-top: 1pc;
    font-family: 'Tektur', cursive;
    font-weight: 800;
    text-align: center;
    font-size: 96px;
    /* color: var(--secondary-color);  */
    /*cambia dependiendo de modo*/
}

.languages {
    display: flex;
    justify-content: center;
    /* color: var(--secondary-color);  */
    /*cambia dependiendo de modo*/
    margin: 2pc 0 2pc 0;
}


.languages p {
    margin-right: 1pc;
    font-family: 'Tektur', cursive;
    font-weight: 400;
    font-size: 48px;
}

/*CSS flecha */
.arrow {
    display: flex;
    justify-content: center;
    margin-bottom: 2pc;
}

.arrow i {
    cursor: pointer;
    /* color: var(--secondary-color);  */
    /*cambia dependiendo de modo*/
    font-size: 10pc
}


/*cambia dependiendo de modo*/
.element {
    display: flex;
    height: 100vh;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 16px;

}

.contenido h1 {
    font-family: 'Tektur', cursive;
    font-weight: 900;
    margin-bottom: 2pc;
    /* color: var(--secondary-color); */
}

.contenido p {
    margin-bottom: 12px;
    /* color: var(--secondary-color); */
}

.imageElement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.imageContainer img {
    height: 100%;
    width: 100%;
}

.img_uno {
    width: 496px;
    height: 423px;

}
.img_dos {
    width: 496px;
    height: 216px;
}

.img_tres {
    width: 496px;
    height: 370px;
}


.fetch {
    margin-right: 20px;
}

.fetch h1 {
    text-align: center;
}


.search {
    /* background-color: #3ab54a;  */
    padding: 2px;
}

.containerSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

